@inherits LayoutComponentBase

<PageTitle>Restaurante El Buen Sabor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span class="ml-md-auto">
                        Usuario Conectado: @context.User.Claims.First().Value
                        <a href="/salir ">Cerrar Sesión</a>
                    </span>
                </Authorized>
                <NotAuthorized>
                    <a href="Login" style="font-size:24px; font-weight:700" class="ml-md-auto">Inicia sesión aqui</a>
                </NotAuthorized>
            </AuthorizeView>
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
